@tailwind base;
@tailwind components;
@tailwind utilities;

html{
scroll-behavior:smooth;
}

/* body{
font-family:'Poppins',sans-serif;
} */
body {
  @apply bg-gradient-to-br from-gray-50 via-blue-50 to-purple-50 
  dark:from-gray-900 dark:via-gray-900 dark:to-gray-800;
  font-family:'Poppins',sans-serif;
}